* {
  box-sizing: border-box;
  // background-color: #FAFAFA;

  .main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;

    .first-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 350px;
      height: 396px;
      background-color: #FFFFFF;
      border: 1px solid #DBDBDB;

      .logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        padding: 41px 0 35px 0;
      }

      .input-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;

        .identify {
          display: block;
          width: 265px;
          border: 1.3px solid #DBDBDB;
          border-radius: 4px;
          margin: 0 0 5px 0;
          padding: 9px 0 9px 7px;
          font-size: 12px;
        }
        
        .password {
          display: block;
          width: 265px;
          border: 1.3px solid #DBDBDB;
          border-radius: 4px;
          font-size: 12px;
          margin: 0 0 13px 0;
          padding: 9px 0 9px 7px;
        }
        
        .login-btn {
          display: block;
          width: 265px;
          background-color: #C0DFFD;
          border: 0;
          border-radius: 4px;
          padding: 6.5px 0;
          color: white;
          font-size: 14px;
          cursor: default;
        }
      }

      .extra-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 145.81px;
        background-color: #FFFFFF;

        .or-text {
          background-color: #FFFFFF;
          color: #8E8E8E;
          font-size: 13px;
          font-weight: bolder;
          margin: 0 0 25px 0;
        }
        
        .facebook-login-btn {
          background-color: #FFFFFF;
          margin: 0 0 20px 0;

          a {
            background-color: #FFFFFF;
            text-decoration: none;
            color: #385184;
            font-size: 14.5px;
            font-weight: bolder;
          }
        }

        .find-password {
          background-color: #FFFFFF;
          font-size: 12px;
          font-weight: 500;

          a {
            background-color: #FFFFFF;
            text-decoration: none;
            color: #234D7B;
          }
        }
      }
    }

    .second-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 63px;
      background-color: #FFFFFF;
      border: 1px solid #DBDBDB;
      margin: 10px;

      div {
        background-color: #FFFFFF;
        font-size: 14px;

        a {
          background-color: #FFFFFF;
          text-decoration: none;
          color: #0096F6;
          font-weight: 550;
        }
      }
    }

    .third-container {
      width: 350px;
      height: 18px;
      margin: 11px 0 17px 0;
      text-align: center;
      font-size: 14px;
    }

    .fourth-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 280px;
      height: 40px;

      a {
        width: 136px;
        height: 40px;
      }
    }
  }
}